{
 :deps {ohmrun/lepew {:local/root "."}} 
 :tasks {:requires ([babashka.fs :as fs] [clojure.string :as str] [babashka.process :as proc])
         repl-server (proc/shell "bb" "--init" "init.clj" "nrepl-server")
         docker.build (proc/shell "docker" "build" "." "--tag" "lepew")
        ;;  docker.run (proc/shell {:out :inherit} "docker" "run" "--rm" "-it" "lepew")
         docker.run (proc/shell {:out :inherit} "docker" "run" "-p" "7680:7680" "--name" "lepew" "--rm" "-it" "lepew")
        ;; docker.run (proc/shell {:out :inherit} "docker" "run" "--network" "host" "--name" "lepew" "--rm" "-it" "lepew")
         docker.stop (proc/shell "docker" "stop" "lepew")
         docker.connect (proc/shell "docker" "exec" "-it" "lepew" "/bin/bash")
         docker.prepare (proc/shell "docker" "build" "." "--tag" (str/join "" ["ohmrun/peote-server:" (first (fs/read-all-lines ".version"))]) "--tag" "ohmrun/peote-server:latest")
         docker.publish (proc/shell "docker" "push" "-a" (str/join "" ["ohmrun/peote-server"]))

         vagrant.destroy (proc/shell "vagrant" "destroy" "--f")
         vagrant.up (proc/shell "vagrant" "up" "--provision")
         vagrant.recycle ((proc/shell "bb" "vagrant.destroy" "&&" "bb" "vagrant.up"))}
 }